<?xml version="1.0"?>
<launch>
    <node name="img2PointCloudServer" pkg="grid_map_demos" type="image_server.py" output="screen">
      <param name="image_path1" value="$(find grid_map_demos)/data/scanned.jpg" />
      <param name="image_path2" value="$(find grid_map_demos)/data/reference.jpg" />
    </node>
    <node name="my_sdf_demo" pkg="grid_map_demos" type="my_sdf_demo" output="screen"/>
    <node name="detector" pkg="grid_map_demos" type="detector" output="screen"/>
    <node name="grid_map_visualization" pkg="grid_map_visualization" type="grid_map_visualization" output="screen">
        <rosparam command="load" file="$(find grid_map_demos)/config/my_sdf_demo.yaml"/>
    </node>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_map_demos)/rviz/grid_map_demo.rviz"/> -->

  <node name="rviz1" pkg="rviz" type="rviz" args="-d $(find grid_map_demos)/rviz/my_sdf_demo.rviz" />
  <!-- <node name="rviz2" pkg="rviz" type="rviz" args="-d $(find grid_map_demos)/rviz/my_sdf_demo.rviz" /> -->
</launch>